{% extends "base.html" %}
{% block content %}
<h1>DMARC Email Spoofing Detector</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Analyze Email File</div>
            <div class="card-body">
                <form action="{{ url_for('analyze') }}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="email_file" class="form-label">Upload .eml or .txt email file</label>
                        <input class="form-control" type="file" name="email_file" id="email_file" accept=".eml,.txt">
                    </div>
                    <button type="submit" class="btn btn-primary">Analyze</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Upload DMARC Aggregate Report</div>
            <div class="card-body">
                <form action="{{ url_for('upload_report') }}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="report_file" class="form-label">Upload XML report</label>
                        <input class="form-control" type="file" name="report_file" id="report_file" accept=".xml">
                    </div>
                    <button type="submit" class="btn btn-success">Parse Report</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}